/* WIDGET: BUTTON
-------------------------------------------- */

.ptf-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: px2rem(16px) px2rem(16px) px2rem(16px) px2rem(55px);
	overflow: hidden;
	font-size: px2rem(13px);
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	border-radius: 0;
	outline: 0;
	box-shadow: none;
	transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
	}

	&--block {
		width: 100%;
	}

	&__icon {
		margin-left: px2rem(40px);
	}

	&__text {
		position: relative;
		top: 1px;
		flex-basis: 100%;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
		transform: translateY(-2px);
	}

}

/* BUTTON PRIMARY
-------------------------------------------- */

.ptf-btn--primary {
	color: var(--ptf-color-3);
	background-color: var(--ptf-color-accent);

	&:hover {
		color: var(--ptf-color-3);
		background-color: var(--ptf-color-accent);
	}

}