/* WIDGET: PARTNER LOGO
-------------------------------------------- */

.ptf-partner-logo {
	display: flex;
	align-items: center;
	justify-content: center;

	a,
	img {
		display: block;
		width: auto;
		flex-shrink: 0;
	}

}