/* WIDGET: PORTFOLIO MARQUEE
-------------------------------------------- */

.ptf-portfolio-marquee {
	position: relative;
	display: inline-flex;
	white-space: nowrap;
	animation: ptf_marquee 25s linear infinite;

	&__original > *,
	&__copy > * {
		display: inline-flex;
	}

	&__copy {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
	}

	&.has-stopable:hover {
		animation-play-state: paused;
	}

}

@keyframes ptf_marquee {

	0% {
		transform: translateX(0) translateZ(0);
	}

	100% {
		transform: translateX(-100%) translateZ(0);
	}

}

.ptf-work {
	position: relative;
	padding: 0 px2rem(130px);

	@include media-breakpoint-down(md) {
		padding: 0 px2rem(65px);
	}

	&-content {

		span {
			display: block;
			margin-bottom: px2rem(25px);
			color: var(--ptf-color-1);
		}

	}

	&-thumbnail {
		position: absolute;
		top: 50%;
		left: 50%;
		width: px2rem(500px);
		height: px2rem(500px);
		overflow: hidden;
		pointer-events: none;
		border-radius: 50%;
		opacity: 0;
		transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		transform: translateY(-50%) translateX(-50%);
		z-index: 1;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

	}

}