/* WIDGET: PULLQUOTE
-------------------------------------------- */

.ptf-pullquote {

	&__text {
		padding-left: px2rem(110px);
		font-family: var(--ptf-secondary-font);
		font-size: px2rem(35px);
		font-weight: normal;
		font-style: italic;
		line-height: 1.3;
		color: var(--ptf-color-1);
		border-left: 5px solid var(--ptf-color-accent);
	}

	&__meta {
		padding-left: px2rem(110px);
		margin-top: px2rem(60px);
	}

	&__function {
		margin-top: px2rem(5px);
	}

}