/* WIDGET: VIDEO BUTTON
-------------------------------------------- */

.ptf-video-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: px2rem(120px);
	height: px2rem(120px);
	font-size: px2rem(18px);
	color: var(--ptf-color-1);
	border: 1px solid currentColor;
	border-radius: 50%;

	svg {
		height: 1em;
	}

}