include ../../mixins/_global-mixins.pug

.ptf-section__vertical-align

	.ptf-section__content

		.container

			.row.align-items-center(style='--bs-gutter-y: 30px;')

				.col-md-6

					+ptf_animation_block

						h2 Experience

				.col-md-6.text-md-end

					+ptf_animation_block

						+ptf_link_with_icon({
							title: 'Download resume',
							icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 26 26" style="font-size: 25px;"><path fill="currentColor" d="M24.321 18.58c-.635 0-1.071.437-1.071 1.072v4.245H2.103v-4.245c0-.635-.437-1.071-1.071-1.071-.635 0-1.032.436-1.032 1.071v4.96C0 25.364.754 26 1.587 26h22.218c.833 0 1.587-.635 1.587-1.389v-4.959c0-.635-.436-1.071-1.071-1.071Z"/><path fill="currentColor" d="M11.228 18.065c.437.436.952.635 1.468.635s1.071-.199 1.468-.635l3.055-2.976c.436-.436.436-1.071 0-1.468-.436-.436-1.071-.436-1.468 0l-2.023 1.905V1.679c.04-.635-.397-1.071-1.032-1.071s-1.071.436-1.071 1.071v13.847L9.6 13.502c-.436-.436-1.07-.436-1.468 0-.436.437-.436 1.071 0 1.468l3.095 3.095Z"/></svg>',
						})

			.ptf-gap-100

			+ptf_animation_block({
				delay: '100ms'
			})

				+ptf_timeline_slider

					div

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-1.png',
							year: '2019-2021',
							title: 'Senior Designer',
							text: 'Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-2.png',
							year: '2016-2019',
							title: 'Junior UX/UI Designer',
							text: 'Which firmament dominion first rule and tree. The seas he i were cattle Under living. It may beast every forth place.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-3.png',
							year: '2014-2016',
							title: 'SEO & Manager',
							text: 'Assertively exploit wireless initiatives rather than synergistic core competencies.'
						})

					div

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-1.png',
							year: '2019-2021',
							title: 'Senior Designer',
							text: 'Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-2.png',
							year: '2016-2019',
							title: 'Junior UX/UI Designer',
							text: 'Which firmament dominion first rule and tree. The seas he i were cattle Under living. It may beast every forth place.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-3.png',
							year: '2014-2016',
							title: 'SEO & Manager',
							text: 'Assertively exploit wireless initiatives rather than synergistic core competencies.'
						})

					div

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-1.png',
							year: '2019-2021',
							title: 'Senior Designer',
							text: 'Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-2.png',
							year: '2016-2019',
							title: 'Junior UX/UI Designer',
							text: 'Which firmament dominion first rule and tree. The seas he i were cattle Under living. It may beast every forth place.'
						})

						+ptf_timeline_slider_item({
							image: 'assets/img/root/logo-3.png',
							year: '2014-2016',
							title: 'SEO & Manager',
							text: 'Assertively exploit wireless initiatives rather than synergistic core competencies.'
						})