/* Master Stylesheet
 * Version: 1.0
 *
 * Powered by paul_tf
 *
 * 01. Helpers
 * 02. Base
 * 03. Layout
 * 04. Pages
 * 05. Partials
 * 06. Vendors
 * 07. Widgets
 */

/* 00. Include */
@import 'framework/bootstrap';

/* 01. Helpers */

@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/keyframes';
@import 'abstracts/snippets';

/* 02. Base */

@import 'base/helper-classes';
@import 'base/typography';

/* 03. Layout */

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

/* 04. Pages */

@import 'pages/blog';
@import 'pages/fullpage-slider';

/* 05. Partials */

@import 'partials/cite';
@import 'partials/custom-cursor';
@import 'partials/custom-scrollbar';
@import 'partials/site-preloader';
@import 'partials/social-icon';

/* 06. Vendors */

@import 'vendors/fancybox';
@import 'vendors/jarallax';
@import 'vendors/like-button';
@import 'vendors/piling';
@import 'vendors/swiper';

/* 07. Widgets */

@import 'widgets/button';
@import 'widgets/contact-form';
@import 'widgets/link-with-icon';
@import 'widgets/partner-logo';
@import 'widgets/portfolio-marquee';
@import 'widgets/progress-bar';
@import 'widgets/pullquote';
@import 'widgets/testimonial-slider';
@import 'widgets/timeline-slider';
@import 'widgets/video-button';