/* LAYOUT: HEADER
-------------------------------------------- */

.ptf-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--ptf-color-1);
	z-index: z('header');
}

// navbar
.ptf-navbar {
	position: relative;
	z-index: z('navbar');

	// navbar inner
	.ptf-navbar-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: px2rem(15px);
		box-shadow: inset 0 -1px var(--ptf-color-5);
		transition: padding var(--ptf-transition-duration) var(--ptf-transition-easing);

		@include media-breakpoint-up(md) {
			padding: px2rem(30px);
		}

		@include media-breakpoint-up(xl) {
			padding: px2rem(35px) px2rem(55px);
		}

		&--center {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 0 15px;
			pointer-events: none;

			@media(max-width: 1800px) {
				display: none;
			}

		}

		&--left {
			display: flex;
			align-items: center;
			margin-right: auto;
		}

	}

	.ptf-navbar-background {
		position: absolute;
		top: -1px;
		right: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: var(--ptf-color-3);
		box-shadow: none;
		transition: all var(--ptf-transition-duration) var(--ptf-transition-easing);
		z-index: -1;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	&--solid {

		.ptf-navbar-background {
			height: 100%;
		}

	}

	// navbar logo
	.ptf-navbar-logo {
		display: inline-block;
		line-height: 1;
		color: inherit;
		vertical-align: middle;

		h2 {
			margin: 0;
			font-family: var(--ptf-secondary-font);
			font-size: px2rem(38px);
			font-weight: normal;
			font-style: italic;
			color: inherit;
		}

		img {
			display: block;
			max-width: none;
			max-height: px2rem(38px);
		}

		&:hover {
			color: currentColor;
			text-decoration: none;
		}

	}

	.ptf-navbar-socials {
		display: flex;
		align-items: center;

		@media(max-width: 1800px) {
			display: none;
		}

	}

}

/* BURGER MENU
-------------------------------------------- */

.ptf-menu-burger {
	font-size: px2rem(28px);
	line-height: 0;

	@media(min-width: 1799px) {
		display: none;
	}

	svg {
		width: 1em;
		height: 1em;
	}

	&:hover {
		color: inherit;
	}

	&--opened {

		&:hover {

			i {
				transform: rotate(180deg);
			}

		}

	}

}

// import
@import 'header/default';
@import 'header/offcanvas';