@keyframes ptf_blink_in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes ptf_bounce {

	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

@keyframes ptf_heartbeat {
	0% {
		transform: scale(0.8);
	}

	5% {
		transform: scale(0.9);
	}

	10% {
		transform: scale(0.8);
	}

	15% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(0.8);
	}
}