title #{SiteName} - #{PageTitle}
meta(name='description', content='Modern & Creative CV/Resume HTML5 Template')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

//Favicon
link(rel='icon', type='image/png', href='assets/img/root/favicon.png')

//Fonts
link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap')
link(rel='stylesheet', href='assets/fonts/Didot/style.css')

//Icons
link(rel='stylesheet', href='assets/fonts/LineIcons/Pro-Regular/font-css/LineIcons.css')

//Plugins
link(rel='stylesheet', href='assets/css/ptf-plugins.min.css')

//Style
link(rel='stylesheet', href='assets/css/ptf-main.min.css')

//Custom
link(rel='stylesheet', href='assets/css/custom.css')