- FooterClass = 'ptf-footer'
- FooterClass += FooterFixed == 'enable' ? ' ptf-footer--fixed' : ''

//Footer
footer(class=FooterClass)

	//Copyright
	.ptf-footer-copyright

		p &copy; Rojer 2022.

	nav.ptf-footer-locales
		a(href='#', class='active') Eng
		a(href='#') Fra
		a(href='#') Ger